<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.food-mapper">
  <sql id="select-food">
    SELECT fno,name,type,address,poster,likecount,replycount
  </sql>
  <select id="foodListData" resultType="FoodVO" parameterType="hashmap">
    <include refid="select-food"/>,num
    FROM (<include refid="select-food"/>,rownum as num
    FROM (<include refid="select-food"/>
    FROM menupan_food ORDER BY fno ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="foodTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/12.0) FROM menupan_food
  </select>
  
  <!-- 상세보기 -->
  <!-- SQL : 반복되는 SQL문장을 저장후에 재사용 -->
  <sql id="where-fno">
    WHERE fno=#{fno}
  </sql>
  <update id="foodHitIncrement" parameterType="int">
    UPDATE menupan_food SET
    hit=hit+1
    <include refid="where-fno"/>
  </update>
  <select id="foodDetailData" resultType="FoodVO" parameterType="int">
    SELECT * FROM menupan_food
    <include refid="where-fno"/>
  </select>
  
  <select id="foodFindData" resultType="FoodVO" parameterType="hashmap">
     <!-- trim : 추가, 제거
		         OR, AND, (, )
    	  prefix : 맨 앞에 추가
    	  suffix : 맨 뒤에 추가
    	  prefixOverrides : 맨 앞에 제거
    	  suffixOverrides : 맨 뒤에 제거
     -->
    <include refid="select-food"/>,num
    FROM (<include refid="select-food"/>,rownum as num
    FROM (<include refid="select-food"/>
    FROM menupan_food
    WHERE ${column} LIKE '%'||#{ss}||'%'
    AND 
    <trim prefix="(" suffix=")" prefixOverrides="OR|AND">
      <foreach collection="fdArr" item="fd">
        <trim prefix="OR">
          <choose>
            <when test="fd=='A'.toString()">
              type LIKE '%한식%'
            </when>
            <when test="fd=='B'.toString()">
              type LIKE '%일식%'
            </when>
            <when test="fd=='C'.toString()">
              type LIKE '%중식%'
            </when>
            <when test="fd=='D'.toString()">
              type LIKE '%양식%'
            </when>
            <when test="fd=='E'.toString()">
              type LIKE '%분식%'
            </when>
          </choose>
        </trim>
      </foreach>
    </trim>
    ORDER BY fno ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="foodFindCount" resultType="int" parameterType="hashmap">
    SELECT COUNT(*)
    FROM menupan_food
    WHERE ${column} LIKE '%'||#{ss}||'%'
    AND 
    <trim prefix="(" suffix=")" prefixOverrides="OR|AND">
      <foreach collection="fdArr" item="fd">
        <trim prefix="OR">
          <choose>
            <when test="fd=='A'.toString()">
              type LIKE '%한식%'
            </when>
            <when test="fd=='B'.toString()">
              type LIKE '%일식%'
            </when>
            <when test="fd=='C'.toString()">
              type LIKE '%중식%'
            </when>
            <when test="fd=='D'.toString()">
              type LIKE '%양식%'
            </when>
            <when test="fd=='E'.toString()">
              type LIKE '%분식%'
            </when>
          </choose>
        </trim>
      </foreach>
    </trim>
  </select>
</mapper>