<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.like-mapper">
  <insert id="likeOn" parameterType="hashmap">
    INSERT INTO all_like
    VALUES(
    	al_lno_seq.nextval,
    	#{type},
    	#{rno},
    	#{id}
    )
  </insert>
  
  <delete id="likeOff" parameterType="hashmap">
    DELETE FROM all_like
    WHERE rno=#{rno} AND id=#{id} AND type=#{type}
  </delete>
  
  <update id="likeCountIncrement" parameterType="hashmap">
    UPDATE ${table} SET
    likecount=likecount+1
    WHERE ${checks}=#{rno}
  </update>
  
  <update id="likeCountDecrement" parameterType="hashmap">
    UPDATE ${table} SET
    likecount=likecount-1
    WHERE ${checks}=#{rno}
  </update>
  
  <select id="likeCount" resultType="int" parameterType="hashmap">
    SELECT NVL(likecount, 0) AS likecount
    FROM ${table}
    WHERE ${checks}=#{rno}
  </select>
  
  <select id="likeCheck" resultType="int" parameterType="hashmap">
    SELECT COUNT(*) FROM all_like
    WHERE rno=#{rno} AND type=#{type} AND id=#{id}
  </select>
</mapper>