<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	main 페이지
	| 목록 출력 => 페이지
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.main-mapper">
  <select id="mainTopData" resultType="FoodVO">
    SELECT *
    FROM (SELECT * FROM menupan_food 
    	ORDER BY DBMS_RANDOM.VALUE
    )
    WHERE ROWNUM=1
  </select>
  <select id="mainHitTop4" resultType="FoodVO">
    SELECT fno, poster, name, theme, hit, likecount, replycount, type, address, content, rownum
    FROM (SELECT fno, poster, name, theme, hit, likecount, replycount, type, address, content
    FROM menupan_food
    ORDER BY hit DESC)
    WHERE ROWNUM&lt;=4
  </select>
  <select id="mainLikeTop4" resultType="FoodVO">
    SELECT fno, poster, name, theme, hit, likecount, replycount, type, address, content, rownum
    FROM (SELECT fno, poster, name, theme, hit, likecount, replycount, type, address, content
    FROM menupan_food
    ORDER BY likecount DESC)
    WHERE ROWNUM&lt;=4
  </select>
</mapper>