<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">
  <resultMap type="com.sist.vo.ReserveVO" id="reserveMap">
    <result property="fvo.poster" column="poster"/>
    <result property="fvo.name" column="name"/>
    <result property="fvo.phone" column="phone"/>
  </resultMap>
  
  <!-- mypage -->
  <select id="reserveMyPageListData" resultMap="reserveMap" parameterType="string">
    SELECT no, ri.fno, id, rday, ri.time, inwon, ok, name, phone, poster
    FROM reserve_info ri,menupan_food mf
    WHERE ri.fno=mf.fno
    AND id=#{id}
    ORDER BY no DESC 
  </select>
  
  <delete id="reserveCancel" parameterType="int">
    DELETE FROM reserve_info
    WHERE no=#{no}
  </delete>
  
  <resultMap type="com.sist.vo.ReserveVO" id="rMap">
    <result property="fvo.poster" column="poster"/>
    <result property="fvo.name" column="name"/>
    <result property="fvo.phone" column="phone"/>
    <result property="fvo.address" column="address"/>
    <result property="fvo.parking" column="parking"/>
    <result property="fvo.score" column="score"/>
    <result property="fvo.type" column="type"/>
  </resultMap>
  <select id="reserveOkData" resultMap="rMap" parameterType="int">
    SELECT no, rday, ri.time, inwon, TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI:SS') as dbday,
    		poster, name, address, phone, parking, score, type
    FROM reserve_info ri, menupan_food mf
    WHERE ri.fno=mf.fno
    AND no=#{no}
  </select>
</mapper>